body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
ol, ul{
    list-style-type: none;
}

.navigation .nav-bar a,
.nav-address a{
    text-decoration: none;
    color: currentColor;
}
.nav-address{
    font-style: normal;
}
.logo-nav,  
.logo-footer{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
}
.logo-nav,
.logo-footer{
    color: #4d5ae5;
}

.logo-nav .logo-part{
    color: #2e2f42;
}
.logo-footer .logo-part{
    color: #f4f4fd;
}

.navigation .nav-bar a{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.navigation .nav-bar a:hover,
.navigation .nav-bar a:focus,
.nav-address-list a:hover,
.nav-address-list a:focus{
    color:#404BBF;
}

.nav-address-list .tel,
.nav-address-list .mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.hero-section{
    background-color: #2e2f42;
    color: #fff;
}
.hero-section h1{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.hero-button{
    background-color: #4d5ae5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;

    font-weight: 500;
    white-space: nowrap;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: currentColor;
    font-family: inherit;
}

.hero-button:hover,
.hero-button:focus{
    background-color: #404bbf;
}

.section-list-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.team-section,
.portfolio-section{
    text-align: center;
    background-color: #FFFFFF
}
.team-section{
    background-color: #F4F4FD
}
.team-member{
    background-color: #FFFFFF
}
.section-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
}
.section-header{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize
}

.page-footer {
    background-color: #2e2f42;
}

.footer-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
